@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}
/* In your global.css or a similar file */
@layer utilities {
  .text-glow-orange {
    text-shadow: 0 0 10px rgba(213, 81, 35, 0.75), 0 0 20px rgba(213, 81, 35, 0.75);
  }
}
*::-webkit-scrollbar{
  display: none;
}